<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>P2P网贷平台用户注册协议</title>

</head>

<body style="width:740px; padding:0px; background:url(imgs/bg_acksitlqiq.png);">


<div style=" width:100%; background-color:#E6E6E6; margin-top:10px; padding-top:0px; border:red solid 5px;">

<div style=" background-color:#E6E6E6; margin-top:5px; padding:0px; border:red 2px solid; margin-left:5px; margin-right:5px; margin-bottom:5px;">

<p style="text-align:center; font-size:19; color:red; font-weight:bold; margin-top:10px; width:100%; border-bottom:#666 2px solid; padding-bottom: 20px;">P2P网贷平台用户注册协议</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif; font-weight:bold;">尊敬的用户：</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif; text-indent:2em; font-weight:bold;">在您注册成为P2P网贷平台用户前请务必仔细阅读、充分理解以下条款，特别是限制、免除责任的相应条款。一旦注册成功，表示您接受以下条款的约束。若您不接受以下条款，请立即停止注册本网站。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif; font-weight:bold;">1. 特别提示</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">1.1 本服务协议双方为P2P网贷平台与P2P网贷平台的注册用户，本服务协议具有合同效力。本使用协议的内容包括以下条款及已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">1.2 本协议适用于您在P2P网贷平台的全部活动。在您注册成为P2P网贷平台用户时，您已经阅读、理解并接受本协议的全部条款及各类规则，并承诺遵守中华人民共和国现行的法律、法规、规章及其他政府规定，如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">1.3 用户注册成功后，P2P网贷平台将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管，用户不应将其帐号、密码转让或出借于他人使用。用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">如用户发现其帐号遭他人非法使用或存在安全漏洞的情况，应立即通知P2P网贷平台。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，P2P网贷平台不承担任何责任。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">1.4 P2P网贷平台有权根据需要不时修改、增加或删减本服务协议条款。P2P网贷平台将用公示的方式通知用户该等修改、增加或删减的条款内容，用户有义务注意该等公示。一经P2P网贷平台公示，视为已经通知到用户。若用户在本服务协议及各类规则变更后继续使用P2P网贷平台服务的，视为用户已仔细认真阅读、充分理解并同意接受修改后的本服务协议及各类规则，且用户承诺遵守修改后的本服务协议及各类规则内容，并承担相应的义务和责任。若用户不同意修改后的本服务协议及各类规则内容，应立即停止使用P2P网贷平台服务，本公司保留中止、终止或限制用户继续使用P2P网贷平台服务的权利，但该等终止、中止或限制行为并不豁免用户在P2P网贷平台已经进行的交易下所应承担的责任和义务。本公司不承担任何因此导致的法律责任。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">1.5 用户注册成功后，在使用P2P网贷平台服务的过程中，P2P网贷平台有权基于用户的操作行为进行非商业性的调查研究。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif; font-weight:bold;">2.服务提供</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">2.1 P2P网贷平台为有借款需求的用户或资金提供方提供信息对接的平台以及获取各类与投融资相关的服务信息。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">2.2 P2P网贷平台提供的服务为有偿服务，用户注册使用P2P网贷平台服务，P2P网贷平台有权向用户收取服务费用，具体服务费用以P2P网贷平台公告或其他协议为准。用户承诺按照本服务协议约定向P2P网贷平台支付服务费用，并同意P2P网贷平台有权自其有关账户中直接扣划服务费用。用户通过P2P网贷平台与其他方签订协议的，用户按照签署的协议约定向其他方支付费用。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif; font-weight:bold;">3.责任限制</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">3.1 P2P网贷平台会对用户的注册信息按注册要求进行形式上的审核，用户注册信息的真实性由用户本人承担。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">3.2 P2P网贷平台提供的任何信息仅供参考，P2P网贷平台不能完全控制信息的真实性或准确性，双方交易所涉及的服务的质量、安全或合法性，以及交易方履行其在协议项下的各项义务的能力，并且不承担任何由此引起的法律责任。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">3.3 P2P网贷平台的网站内容可能涉及由第三方所有、控制或者运营的其他网站的内容或链接（以下称"第三方网站"）。 P2P网贷平台不能保证也没有义务保证第三方网站上的信息的真实性和有效性。对于该等内容或链接，您确认按照第三方网站的使用协议确定相关权利义务，而不是按照本协议。第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险，而与本网站无关。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif; font-weight:bold;">4.用户义务</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">4.1 用户必须提供自己的真实资料，如个人资料有任何变动，必须及时更新。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">4.2 用户注册成功后，应妥善保管您的用户名和密码，不得将帐号、密码转让或出借予他人使用。用户的用户名和密码登录P2P网贷平台后在本网站的一切行为均视为用户本人作出，并由用户承担相应的法律后果。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">4.3 用户承诺合法使用P2P网贷平台提供的信息及服务。禁止在P2P网贷平台从事任何违反中华人民共和国现行法律、法规、规章和规范性文件的行为或者任何未经授权使用本网站的行为。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif; font-weight:bold;">5.服务中止或终止</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">5.1 除非P2P网贷平台终止本协议或者用户申请终止本协议且经本网站同意，否则本协议始终有效。用户或网站的终止行为均不能免除用户根据本服务协议或在P2P网贷平台生成的其他协议项下的还未履行完毕的义务。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">5.2 当用户账户出现可能存在异常情况下，如有可能被人冒用、盗用账户、密码等，P2P网贷平台有权不通知用户而对用户的账号使用临时暂停等措施。用户发现账户有异常时，应立即通知P2P网贷平台，采取暂停等措施。待异常情况排除后恢复用户账号的正常使用。在此期间由此产生的任何后果，P2P网贷平台不承担任何责任。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">5.3 当用户账户出现有违诚实信用原则或P2P网贷平台管理规定之行为时，P2P网贷平台有权限制、暂停或终止账户使用。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif; font-weight:bold;">6.纠纷处理</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">6.1 由于用户违反本协议或任何法律、法规或侵害第三方的权益而引起第三方对P2P网贷平台提出的任何形式的索赔、要求、诉讼。P2P网贷平台有权向用户追偿相关损失，包括但不限于P2P网贷平台法律费用、名誉损失、及向第三方支付的补偿金等。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">6.2 因P2P网贷平台提供服务所产生的争议均适用中华人民共和国法律，并由P2P网贷平台住所地人民法院管辖。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif; font-weight:bold;">7.其他</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">7.1 本服务协议自您同意勾选并成功注册为P2P网贷平台用户之日起生效，除非P2P网贷平台终止本服务协议或者用户丧失P2P网贷平台用户资格，否则本服务协议始终有效。本服务协议终止并不免除用户根据本服务协议或其他有关协议、规则所应承担的义务和责任。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">7.2 本公司对于用户的违约行为放弃行使本服务协议规定的权利的，不得视为其对用户的其他违约行为放弃主张本服务协议项下的权利。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">7.3 本服务协议部分条款被认定为无效时，不影响本服务协议其他条款的效力。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">7.4 本协议中的标题仅为方便而设，在解释本协议时应被忽略。</p>

<p style="margin:15px; font-family:'Times New Roman', Times, serif;">7.5 本公司对本服务协议享有最终的解释权。</p>

</div>

</div>

<p style="font-size:14px; color:#F00; font-family:'Times New Roman', Times, serif; margin-top:20px; margin-bottom:0px;">注：请仔细阅读，注册时请保证您已阅读并同意本协议条款。
</p>



<div style=" margin-top:30px; line-height:25px; border-top:#999 solid 2px; width:760px;">
<div style="cursor:pointer; height:25px; color:#06C; font-family:'微软雅黑';text-align:right; width:10%; margin-left:650px; margin-bottom:60px;" onclick="javascript:window.close()">点击关闭</div>
</div>





</body>
</html>
