<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>借款协议（要约）-范本</title>
</head>

<body style="width:750px; padding:0px; background:url(imgs/bg_acksitlqiq.png);">

<div style=" margin:0; line-height:25px; border-top:#999 solid 2px; width:750px;">
	<div style="cursor:pointer; height:25px; color:#06C; font-family:'微软雅黑';text-align:right; width:10%; margin-left:650px; margin-bottom:10px;" onclick="javascript:window.close()">点击关闭</div>
</div>
 

	<p style="text-align:center; font-size:25px; font-weight:bold; margin-top:5px; width:100%; border-bottom:#F36 2px solid; padding-bottom: 5px; line-height:28px; margin-bottom:0px;">借款协议（要约）-范本</p>
<div style="padding:0px; padding-bottom:5px; margin-top:10px; text-align:center;">
	<img src="/resources/images/fanben1.jpg" width="730" height="1031" />
    <img src="/resources/images/fanben2.jpg" width="730" height="1031" />
	<img src="/resources/images/fanben3.jpg" width="730" height="1031" />
	<img src="/resources/images/fanben4.jpg" width="730" height="1031" />
	<img src="/resources/images/fanben5.jpg" width="730" height="1031" />
	<img src="/resources/images/fanben6.jpg" width="730" height="1031" />
	<img src="/resources/images/fanben7.jpg" width="730" height="1031" />

</div>
<p style="font-size:14px; color:#F00; font-family:'Times New Roman', Times, serif; margin-top:20px; margin-bottom:0px;">注：此为协议要约范本，借款满标并成功放款后，投资人可在页面中点击下载链接进行协议下载。
</p>



<div style=" margin:0; line-height:25px; border-top:#999 solid 2px; width:750px;">
<div style="cursor:pointer; height:25px; color:#06C; font-family:'微软雅黑';text-align:right; width:10%; margin-left:650px; margin-bottom:30px;" onclick="javascript:window.close()">点击关闭</div>
</div>







</body>
</html>
