<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>P2P网贷平台借款人须知</title>

</head>

<body style="width:750px; padding:0px; background:url(imgs/bg_acksitlqiq.png);">


<div style="padding:0px; border:red solid 5px; padding-bottom:5px; height:500px;">
<div style=" background-color:#E6E6E6; margin-top:5px; padding-top:5px; border:red 2px solid; margin-left:5px; margin-right:5px; height:485px;">
	<p style="text-align:center; font-size:25px; color:red; font-weight:bold; margin-top:15px; width:100%; border-bottom:#F36 2px solid; padding-bottom: 15px; line-height:28px;">借款人须知</p>
	<p style=" font-size:15px; margin-left:15px; margin-right:15px;">1.借款人必须按要求提供真实准确的各项信息，并及时进行信息更新。</p>

	<p style=" font-size:15px; margin-left:15px; margin-right:15px;">2.借款人的借款必须用于合法用途，不得将所借款项用于任何违法活动(包括但不限于赌博、 吸毒、贩毒、卖淫嫖娼等)及一切高风险投资(如证券期货、彩票等)。如借款人违反前述保证或有违反前述保证的嫌疑，则出借人有权提前收回全部借款，同时向公安等行政机关举报，追回借款并追究借款人的刑事责任。
    
    </p>

	<p style=" font-size:15px; margin-left:15px; margin-right:15px;">3.若借款人临近还款期，的确有困难暂无法偿还借款，可提前主动联系P2P网贷平台并说明原因，同时做出详细还款计划，P2P网贷平台将尽全力协助借款人缓解困难。
	
    </p>

	<p style=" font-size:15px; margin-left:15px; margin-right:15px;">4.当借款人出现逾期或坏账风险时，应尽快主动与P2P网贷平台联系，商量解决办法，如果借款人不接电话或恶意停机躲避债务等，P2P网贷平台资产催收部将采取一切合法而必要的措施收回欠款。同时，P2P网贷平台有权将借款人的有关资料正式备案在传统金融机构或非金融机构"不良信用记录"中，列入全国个人信用评级体系的黑名单("不良信用记录"数据将为银行、电信、担保公司、人才中心等有关机构提供个人不良信用信息)，同时保留对借款者采取法律措施的权利，由此所产生的所有法律后果将由借款者个人承担。
    
    </p>

	<p style=" font-size:15px; margin-left:15px; margin-right:15px;">5.借款人若出现逾期还款或提前还款的现象，将要支付一定金额的违约金。借款人提前还款违约金金额为剩余未支付利息的50%。逾期还款的违约金额以"借款本金*0.3%*逾期天数"计取。同时，借款人逾期还款，还需向P2P网贷平台平台缴纳债务催收费，债务催收费金额以 "借款本金*0.1%*逾期天数"计取。
    
    </p>

</div>






</div>


<div style=" margin:0; line-height:25px; border-top:#999 solid 2px; width:750px;">
<div style="cursor:pointer; height:25px; color:#06C; font-family:'微软雅黑';text-align:right; width:10%; margin-left:650px; margin-bottom:30px;" onclick="javascript:window.close()">点击关闭</div>
</div>







</body>
</html>
